<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453064816479-612g00v71hb1ll0n3p90na69fsvhek7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453064816479-612g00v71hb1ll0n3p90na69fsvhek7f</string>
	<key>API_KEY</key>
	<string>AIzaSyB7UNxtc-qWj44qu35gkK5oOV73doY5k3g</string>
	<key>GCM_SENDER_ID</key>
	<string>453064816479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sl.gov.dsti.epets</string>
	<key>PROJECT_ID</key>
	<string>epets-app</string>
	<key>STORAGE_BUCKET</key>
	<string>epets-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453064816479:ios:56d1b7cf97f8e2eedee8ea</string>
	<key>DATABASE_URL</key>
	<string>https://epets-app.firebaseio.com</string>
</dict>
</plist>